.education {
    background-color: #f8f9fa;
    height: 100vh; 
    padding: 80px 0;
  }
  
  .education .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .education h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .education-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .education-item {
    margin-bottom: 40px;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .education-item.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .education-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333 !important; /* Adjust the color as needed */
}

.education-item p {
  font-size: 18px;
  margin: 0;
  color: #555 !important; /* Adjust the color as needed */
}